@import "card";
@import "colors";
@import "small-devices";

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: $neutral-light;
    font-family: "Poppins", sans-serif;
    margin: 80px auto;
    height: 100%;
}

header p{
    max-width: 60ch;
    margin: 16px 1rem 61px 1rem;
}

h1 span{
    font-weight: 600;
    font-size: 36px;
}

h1{
    font-weight: 200;
    font-size: 36px;
}

main{
    display: grid;
    padding: 0 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:30px;
    
}



section:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

}


section:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
  }


  section:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  
  }

  section:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  
  }




header{
    text-align: center;
}

footer{
    margin-top:80px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }